*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #111427;
}
h3{
    color: aliceblue;
    font-size: 40px;
    text-align:  center;
    margin-bottom: 30px;
    font-family: 'Lato';
}
.container {
    margin: 0 auto;
    max-width: 1900px;
    width: 100%;
    padding: 30px 90px;
}

.titles{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 25px;
}
.btns{
    font-size: 25px;
    color: aliceblue;
    padding: 15px;
    outline: none;
    border: none;
    border-radius: 8px;
    background-color: #E22D60;
}

.btns:hover{
    transform: translateY(-8px);
    transition: all 0.5s;
    cursor: pointer;
}

.btns:first-child:hover{
    background-color: #98B2D1;
    transform: translateY(-8px);
    transition: all 0.5s;
}

.btns:nth-child(2):hover{
    background-color: #C74375;
}

.btns:nth-child(3):hover{
    background-color: #BF1932;
}

.btns:nth-child(4):hover{
    background-color: #7BC4C4;
}
.btns:nth-child(5):hover{
    background-color: #E2583E;
}
.btns:nth-child(6):hover{
    background-color: #53B0AE;
}

.learn-more{
    background-color: #7BC4C4;
    font-size: 25px;
    color: #111427;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 7px;
   margin-top: 30px;
   
}
.learn-more:hover{
    background-color: #65e9e9;
    transform: translateX(8px);
    transition: all 0.5s;
    cursor: pointer;
}

#main-section{
    display: flex;  
    align-items: center;
    justify-content: center;
    display: none;
}
#main-section.active{
    display: flex;
}
#main-section div{
    margin-right: 90px;
    margin-top: 40px;
}

li{
    list-style: none;
    margin-top: 10px;
}

.codes{
    font-size: 30px;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
}

.codes:first-child{
    background-color: #98B2D1;
    color: #BF1932;
}
.codes:nth-child(2){
    background-color: #C74375;
    color: #98B2D1;
}

.codes:nth-child(3){
    background-color: #BF1932;
    color: #98B2D1;
}
.codes:nth-child(4){
    background-color: #7BC4C4;
    color: #BF1932;
}
.codes:nth-child(5){
    background-color: #E2583E;
    color: #7BC4C4;
}
.codes:nth-child(6){
    background-color: #53B0AE;
    color: #BF1932;
}

.pantone{
    font-size: 30px;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
}
.pantone:first-child{
    background-color: #98B2D1;
    color: #BF1932;
}
.pantone:nth-child(2){
    background-color: #C74375;
    color: #98B2D1;
}

.pantone:nth-child(3){
    background-color: #BF1932;
    color: #98B2D1;
}
.pantone:nth-child(4){
    background-color: #7BC4C4;
    color: #BF1932;
}
.pantone:nth-child(5){
    background-color: #E2583E;
    color: #7BC4C4;
}
.pantone:nth-child(6){
    background-color: #53B0AE;
    color: #BF1932;
}

.more-info{
    width: 200px;
    font-size: 20px;
    padding: 10px;
    border-radius: 4px;
    background-color: #7BC4C4;
    border: none;
    outline: none; 
}
.more-info:hover{
    background-color: #6bacac;
    border: 5px pink dotted;
    transform: translateX(8px);
    transition: all 0.5s;
}
.more-info-div{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-items: center;
    align-items: center;
    grid-gap: 25px;
    margin-top: 40px;
    display: none;
}
.more-info-div.active{
    display: grid;
}
a{
    text-decoration: none;
    color: #111427;
}

h2{
    color: #d2ddeb;
    margin-top: 20px;
    font-size: 28px;
    font-family: 'Lato';
}
.color-title{
    font-size: 38px;
   text-align: center;
}
.one-color{
    margin-top: 200px;
}

.colors-sections{
    display: none;
}

.colors-sections.active{
    display: block;
}
.first-sec{
    margin-top: 400px;
}
.about-color{
    display: flex;
    margin-top: 30px;
}

.section-image{
    width: 370px;
    height: 370px;
    object-fit: cover;
    margin-right: 30px;
    margin-left: 30px;
    filter: drop-shadow(10px 8px 9px rgb(233, 211, 220));
}
p{
    color: #d2ddeb;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 50px;
    font-family: 'Lato';
}

#fixed-btn{
    position: fixed;
    right: 30px;
    bottom: 30px;
    border-radius: 50%;
    background-color: #a2abe9;
    outline: none;
    cursor: pointer;
    border: none;
    z-index: 1;
}

#fixed-btn:hover{
    background-color: #dbddf1;
    transition: all 0.5s;
}
#fixed-btn:active{
    background-color: #c9cde7;

}
#arrow{
    width: 60px;
}